[package]
name = "tools"
edition = "2021"
publish = false

[dependencies]
anyhow = "1.0.81"
clap = { version = "4.5.4", features = ["derive"] }
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"
tests = { path = "../tests" }
toml = "0.8.12"
