name: CI

on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: rustup toolchain install stable --profile minimal
    - run: rustup default stable
    - run: cargo build --workspace --tests --benches --examples --lib
    - run: cargo build --workspace --tests --benches --examples --lib --no-default-features

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: rustup toolchain install stable --profile minimal
    - run: rustup default stable
    - run: cargo check --tests --benches
    - run: cargo test --workspace
    - run: cargo test --workspace --no-default-features

  fuzz:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: rustup toolchain install stable --profile minimal
    - run: cargo +stable run --release --bin fuzz_test

  miri:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: rustup toolchain install nightly --profile minimal --component miri
    - run: cargo +nightly miri test --workspace --exclude musli-common

  rustfmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: rustup toolchain install stable --profile minimal --component rustfmt
    - run: cargo +stable fmt --check
