name: CI

on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    needs: each_package
    strategy:
      fail-fast: false
      matrix:
        rust: ['1.73', stable]
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{matrix.rust}}
    - run: cargo build
      if: matrix.rust != 'stable'
    - run: cargo build --all-targets
      if: matrix.rust == 'stable'
    - run: cargo test --all-targets --features test
      if: matrix.rust == 'stable'
    - run: cargo test --doc
      if: matrix.rust == 'stable'

  no_std:
    runs-on: windows-latest
    needs: each_package
    strategy:
      fail-fast: false
      matrix:
        example: ['json']
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@nightly
      - run: cargo build
      - run: cargo +nightly run -p no-std-examples --example no-std-${{matrix.example}}

  fuzz:
    needs: each_package
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - run: cargo run --release -p tests --bin fuzz
    - run: cargo run --release -p tests --bin fuzz -- --random

  miri:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@nightly
      with:
        components: miri
    - run: cargo miri test --workspace --exclude no-std-examples --exclude musli-common --features test
    - run: cargo miri run -p tests --bin fuzz
    - run: cargo miri run -p tests --bin fuzz -- --random

  each_package:
    needs: [rustfmt, clippy]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package: [musli, musli-common, musli-storage, musli-descriptive, musli-wire, musli-json, musli-value]
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - run: cargo build -p ${{matrix.package}} --no-default-features
    - run: cargo build -p ${{matrix.package}} --no-default-features --features alloc
    - run: cargo build -p ${{matrix.package}} --no-default-features --features std
    - run: cargo build -p ${{matrix.package}} --no-default-features --features simdutf8
      if: matrix.package == 'musli-storage' || matrix.package == 'musli-wire' || matrix.package == 'musli-descriptive' || matrix.package == 'musli-json'
    - run: cargo build -p ${{matrix.package}} --no-default-features --features parse-full
      if: matrix.package == 'musli-json'

  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@1.73
      with:
        components: clippy
    - run: cargo clippy --all-targets --features test -- -D warnings

  rustfmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt
    - run: cargo fmt --check --all
