name: CI

on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    needs: each_package
    strategy:
      fail-fast: false
      matrix:
        rust: ['1.66', stable]
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{matrix.rust}}
    - run: cargo build --workspace
      if: matrix.rust != 'stable'
    - run: cargo test --workspace --all-targets
      if: matrix.rust == 'stable'
    - run: cargo test --workspace --doc
      if: matrix.rust == 'stable'

  fuzz:
    needs: each_package
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - run: cargo run --release --bin fuzz
    - run: cargo run --release --bin fuzz -- --random --iter 10000

  miri:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@nightly
      with:
        components: miri
    - run: cargo miri test --workspace --exclude musli-common
    - run: cargo miri run --bin fuzz
    - run: cargo miri run --bin fuzz -- --random

  each_package:
    needs: [rustfmt, clippy]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package: [musli, musli-common, musli-storage, musli-descriptive, musli-wire, musli-json, musli-value]
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - run: cargo build -p ${{matrix.package}} --no-default-features
    - run: cargo build -p ${{matrix.package}} --no-default-features --features alloc
    - run: cargo build -p ${{matrix.package}} --no-default-features --features std
    - run: cargo build -p ${{matrix.package}} --no-default-features --features simdutf8
      if: matrix.package == 'musli-storage' || matrix.package == 'musli-wire' || matrix.package == 'musli-descriptive'

  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@1.68
      with:
        components: clippy
    - run: cargo clippy --workspace --all-targets -- -D warnings

  rustfmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt
    - run: cargo fmt --check --all
